:root {
  --branco-principal: #08f3eb;
  --cinza-secundario: #C0C0C0;
  --botao: #f8048e;
  --cor-de-fundo: #00030C;
  --fonte-principal: 'Inter';
  --botao-azul-efeito: #3c92fa;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

.principal {
  background-image: url("img/Background.png");
  background-repeat: no-repeat;
}

.container {
  height: 100vh;
  /* background-color: red; */
}

.container__botao {
  background-color: var(--botao);
  border-radius: 5px;
  padding: 1em;
  color: var(--branco-principal);
text-decoration: none;
display: block;
}